:root {
  --brend-background-color: #ffffff;
  --button-background-color: #f4f4fd;
  --brend-color: #2e2f42;
  --logo-color: #4d5ae5;
  --second-color: #434455;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  background-color: var(--brend-background-color);
}

.coteiner {
  width: 1440;
  margin: 0 auto;
}

/* Header*/

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo {
  color: var(--brend-color);
}

.menu-list {
  font-style: normal;
}

.menu-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}
.menu-item-link:hover,
.menu-item-link:focus {
  color: #404bbf;
}

.menu-item-link:active {
  color: var(--logo-color);
}
.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.contacts-list-link {
  color: var(--second-color);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #404bbf;
}

/* Hero */
.hero {
  background-color: #2e2f42;
  border: 1px solid #000000;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.button-service {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}

/* Features */

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*Our works*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--brend-color);
}
/* Our team*/
.team {
  background: #f4f4fd;
}

.team-list-item {
  background: var(--brend-background-color);
}
.subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}

.position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer {
  background: #2e2f42;
}
.logotype-dark {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  color: #f4f4fd;
}

/* Portfolio */

/* Filters */
.filters-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--button-background-color);
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background: #404bbf;
}
.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}

.projects-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
